* {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

body {
    padding-bottom: 20px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
    display: inline;
}

h4 {
    display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
}

form { margin-bottom: 0; }



th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.hour td {
    padding-top: 50px;
    border-bottom: 1px solid black;
}

.hour td:hover {
    background-color: rgb(0,255,0);
}

.past td:hover {
    background-color: rgb(150,150,150);
}

.center {
    text-align: center;
}

tr:hover {
    background: #e3e3e3;
}

.header {
    background: #323232;
    font-weight:bold;
    color: #fff;
    border-bottom: 2px solid #000000;
}

.header:hover {
    background: #323232;
}